# Ignore node modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore build/compiled files
dist/
build/

# Ignore database files
*.sqlite
*.db

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore coverage files from testing
coverage/

# Ignore debug and profiling files
*.pid
*.seed
*.pid.lock

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Ignore temporary files
tmp/
temp/
